{% extends 'base.html' %}
{% load curso %}

{% block titulo %}
Modulo {{ modulo.order|add:1 }}: {{ modulo.titulo }}
{% endblock %}

{% block conteudo %}
{% with curso=modulo.curso %}
    <h1>Curso {{ curso.titulo }}</h1>
    <div class="contents">
        <h3>Modulos</h3>
        <ul id="modules">
        {% for mod in curso.modulos.all %}
            <li data-id="{{ mod.id }}"
                {% if mod == modulo %}
                    class="selected"
                {% endif %}>
                <a href="{% url 'listar_conteudo_modulo' mod.id %}">
                    <span>Modulo
                        <span class="order">{{ mod.order|add:1 }}</span>
                    </span>
                    <br>
                    {{ mod.titulo }}
                </a>
            </li>
        {% empty %}
            <li>Não existem módulos cadastrados.</li>
        {% endfor %}
        </ul>
        <p><a href="{% url 'modulo_curso_update' curso.id %}">
            Editar Módulos
        </a></p>
    </div>
    <div class="module">
        <h2>Modulo {{ modulo.order|add:1 }}: {{ modulo.titulo }}</h2>
        <h3>Conteúdos:</h3>

        <div id="module-contents">
        {% for cont in modulo.conteudos.all %}
            <div data-id="{{ cont.id }}">
            {% with item=cont.item %}
                <p>{{ item }}: {{ item|model_name}} </p>
                <a href="{% url 'conteudo_modulo_update' modulo.id item|model_name item.id %}">
                    Editar</a>
                <br>
                <form action="{% url 'excluir_conteudo_modulo' cont.id %}" method="post">
                    <input type="submit" value="Excluir">
                    {% csrf_token %}
                </form>
            {% endwith %}
            </div>
        {% empty %}
            <p>Este módulo ainda não tem conteúdos.</p>
        {% endfor %}
        </div>
        <h3>Adicionar novo conteúdo:</h3>
        <ul class="content-types">
            <li><a href="{% url 'criar_conteudo_modulo' modulo.id 'texto'%}">Texto</a></li>
            <li><a href="{% url 'criar_conteudo_modulo' modulo.id 'imagem'%}">Imagem</a></li>
            <li><a href="{% url 'criar_conteudo_modulo' modulo.id 'video'%}">Vídeo</a></li>
            <li><a href="{% url 'criar_conteudo_modulo' modulo.id 'arquivo'%}">Arquivo</a></li>
        </ul>
    </div>
{% endwith %}
{% endblock %}

{% block domready %}

$('#modules').sortable({
    stop: function(event, ui){
        modulos_order = {};
        $('#modules').children().each(function(){
            //atualiza o campo que contém a ordem na tela
            $(this).find('.order').text($(this).index() + 1);
            //liga o id do módulo a sua ordem no banco
            modulos_order[$(this).data('id')] = $(this).index();
        });
        let req = $.ajax({
            type: 'POST',
            url: '{% url "reordenar_modulos" %}',
            headers: {"X-CSRFToken": "{{ csrf_token }}"},
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(modulos_order)
        });
        req.fail(function(jqXHR, textStatus, msg){
            alert(msg + "\n" + textStatus);
        });
    }
});

$('#module-contents').sortable({
    stop: function(event, ui){
        conteudos_order = {};
        $('#module-contents').children().each(function(){
            //liga o id do conteúdo a sua ordem no banco
            conteudos_order[$(this).data('id')] = $(this).index();
        });
        let req = $.ajax({
            type: 'POST',
            url: '{% url "reordenar_conteudos" %}',
            headers: {"X-CSRFToken": "{{ csrf_token }}"},
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(conteudos_order)
        });
        req.fail(function(jqXHR, textStatus, msg){
            alert(msg + "\n" + textStatus);
        });
    }
});

{% endblock %}
